
.page-header {
  text-align: center;
  padding: 1.5rem;
  background-color: #6b5f4e;
  color: white;
  border-radius: 5px;
  font-size: 25 px;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 2rem;
}

.post-card {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border-radius: 8px;
  background-color: #D2B48C;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.post-card button {
  align-self: flex-end;
  margin-top: 1rem;
  padding: 0.4rem 1rem;
}
